<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Alumnos</title>
</head>
<body>

    {% if tecnologia == "Python" %}
        <h1 style="color: green">Curso de {{tecnologia}}</h1>
    {% elif tecnologia == "React" %}
        <h1 style="color: blue">Curso de {{tecnologia}}</h1>
    {% else %}
        <h1>Curso de {{tecnologia}}</h1>
    {% endif %}


    <p>Listado de alumnos</p>

    {% comment %}
    <p>contenido a comentar</p>
    {% endcomment %}
    <ol>
        {% for alumno in listado_alumnos %}
            <li>{{alumno}}</li>
        {% endfor %}
    </ol>
    
</body>
</html>