<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Coder</title>
</head>
<body>

    <h1 style="text-align: center;">BIENVENIDOS A MI WEB</h1>
    
    <h2>Este es mi pequenio proyecto: </h2>
    
    <h4>Hola {{ nombre }} {{ apellido }}</h4>
    <h4>Fecha: {{ fecha }}</h4>
    <h4>Edad: {{edad}}.</h4>
    <h4>Hobbies: {{hobbies}}</h4>

    <br>

    <img style="max-width: 550px; border-radius: 10px" src="https://images.pexels.com/photos/270366/pexels-photo-270366.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">

    <p>Chau Chau</p>
    
</body>
</html>